.intro-page {
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    padding-block: 2rem;
}

.socials-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 60%;
}

.about-wrapper {
    font-size: clamp(1.1rem, 3.8vw + 0.2rem, 2.2rem);
    cursor: default;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5ch;
}

.about-wrapper > p {
    text-align: right;
}

.spec {
    position: relative;
}

.spec::before {
    animation: specs 8s linear infinite;
    content: "Java developer";
}

@media screen and (orientation: portrait) {
    .socials-wrapper {
        flex-wrap: wrap;
        width: 80%;
    }

    .about-wrapper {
        width: 80%;
    }
}

@keyframes specs {
    0%,24.999% {
        content: "Java developer";
        color: hsl(220, 46%, 48%);
    }
    25%,49.999% {
        content: "bit of React developer";
        color: hsl(201, 100%, 35%);
    }
    50%,74.999% {
        content: "bit of Scrum master";
        color: hsl(0, 0%, 20%);
    }
    75%,100% {
        content: "mostly proud dad and husband";
        color: hsl(0, 98%, 55%);
    }
}